<p>Form Builder works!</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
 
    <label>
        First Name:
        <input type="text" formControlName="firstName">
      </label>
    
      <label>
        Last Name:
        <input type="text" formControlName="lastName">
      </label>

      <label>
        Date of Birth:
        <p-calendar formControlName="dob" dateFormat="dd.mm.yy"></p-calendar>
      </label>
    <div formGroupName="address">

    
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="text" formControlName="street">
    </label>
  
    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    
    <label>
      State:
      <input type="text" formControlName="state">
    </label>
  
    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
</div>
<div style="align-items: center;">
  <button type="submit" >Submit</button>
</div>

</form>
<p>
  Value: {{ profileForm.value | json }}
</p>