<div class="panel panel-primary" style="border: 0;padding: 0" *ngIf='authenticated'>

  <div class="row" style="background: linear-gradient(to bottom, #f6f7f9 0%, #e3f5fc 100%);">

    <div class="col-sm-1">
      <img src="assets/images/logo.png" class="logo-cls"/>
    </div>

 
    <div class="col-sm-4" *ngIf='!isNav'>
    </div>

 
    <div class="col-sm-4" *ngIf='isNav' id="brd">
      <span>Menu Items</span>>
    </div>

 

    <div class="col text-right header-content" >
      <div  class="lout"  style="margin-right: 10px;"  *ngIf='authenticated'>
      <!--<a [routerLink]="['/appDashboard']" style="color: black;font-weight: bold;font-size: 20px;font-family: serif;">Home</a>-->
        <span *ngIf="!alertFlag1" style="color:red" title="GIS service unavailable" class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;
        <a  (click)="onLogoutClick()" class="lout-agr"  style="font-size: 20px;font-family: serif;" label="Logout">
          
          <div class="col-sm-11" *ngIf="authenticated && user">
            <span style="color: #00A3E0;font-family: serif; font-weight: normal;">
              <i class="fa fa-user"></i>&nbsp;&nbsp;{{user.fullName}} &nbsp;&nbsp;&nbsp; |
            </span>
          </div>

          <span class="fa fa-user" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" style="color: #da5d5d"></span>

        </a>

      </div>

    </div>

  </div>

  <div class="panel-line-gradient"></div>
  <div><a href="twocol"><span>Two Columns</span></a></div>

</div>

<router-outlet></router-outlet>